.home-container {
  display: grid;
  grid-template-rows: 1fr / 2fr;
  margin: auto;
  margin-top: 20vh;
  width: 400px;
  height: 300px;
  max-height: 400px;
  text-align: center;
  background-color: var(--bg-mint);
  border: 3px solid var(--outline-dark-cyan);
  box-shadow: 3px 3px 3px 0 gray;
}

.home-welcome-message {
  color: var(--python-blue);
  margin-top: 5vh;
  grid-row: 1;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
}

.home-browse-message {
  line-height: 1.4em;
  font-size: 1.2em;
}
